apiVersion: v1
kind: Service
metadata:
  name: coordinates-api-svc
  labels:
    app: postgres 
spec:
  type: NodePort
  selector:
    app: postgres 
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  
  
