apiVersion: v1
kind: Service
metadata:
  name: coordinates-api-svc
  labels:
    app: postgres 
spec:
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
  NodePort: 30080
  selector:
    app: postgres 
