apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres 
  serviceName: "postgres-svc"
  replicas: 3 
  minReadySeconds: 10 # by default is 0
  template:
    metadata:
      labels:
        app: postgres 
    spec:
      terminationGracePeriodSeconds: 10
      containers:
      - name: postgres-container
        image: postgres:15
        ports:
        - containerPort: 5432
          name: web
        env:
        - name: POSTGRES_DB
          value: "coordinates_db"
        - name: POSTGRES_USER
          value: "postgres"
        - name:  POSTGRES_PASSWORD
          value: "Meirgerby2001#"
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data 
  volumeClaimTemplates:
  - metadata:
      name: postgres-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi